<!-- HEAD -->
<%- include('./partials/head.ejs') %>
</head>
<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs') %>

    <!--------------->
    <!-- MAIN BODY -->
    <!--------------->
    <main>
        <h1>
            404 :( <br/>
            Oops! That page can’t be found.
        </h1>
    </main>

<!-- END -->
<%- include('./partials/end.ejs')%>